<%- include('navbar-header'); %>
	
<form method="POST" id="form" action="/collaborateurs/new">
<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input type="text" id="nom" name="nom" class="validate">
          <label for="nom">Nom</label>
        </div>
        <div class="input-field col s6">
          <input id="prenom" name="prenom" type="text" class="validate">
          <label for="prenom">Prénom</label>
        </div>
      </div>
      <div class="row">
      <div class="input-field col s6">
          <label>Date de naissance</label>
          <input id="naissance" name="naissance" type="date" class="datepicker">
        </div>
      <div class="input-field col s6">
          <input id="Poste" name="poste" type="text" class="validate">
          <label for="Poste">Poste</label>
      </div>
      </div>
      <div class="row">
      <div class="input-field col s6">
          <input id="salaire" name="salaire" type="text" class="validate">
          <label for="salaire">Salaire</label>
        </div>
      <div class="input-field col s6">
          <label>Date d'entrée</label>
          <input id="date_entry" name="entry" type="date" class="datepicker">
        </div>
        </div>
        <div class="row">
      <div class="input-field col s6">
          <label>Date de sortie</label>
          <input id="date_out" name="out" type="date" class="datepicker">
        </div>
      <div class="input-field col s6">
          <input id="numero_entry" name="numero" type="text" class="validate">
          <label for="numero_entry">N° d'arrivée</label>
        </div>
        </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="email" name="mail" type="email" class="validate">
          <label for="email">Email</label>
        </div>
        </div>
      <div class="row">
        <div class="input-field col s12">
      		<button type="submit" class="waves-effect waves-light btn" id="submitted">Envoyer</button>
      	</div>
      </div>
  </div>
</form>

<%- include('footer'); %>