<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Employees</title>
	<link rel="stylesheet" type="text/css" href="/node_modules/materialize-css/dist/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="/dist/css/styles.css">
  <script type="text/javascript" src="/dist/js/ejs.js"></script>
</head>
<body>

<nav>
<div class="navbar-fixed">
  <div class="nav-wrapper">
    <a href="/accueil" class="brand-logo" style="margin-left: 30px">Employees</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/collaborateurs">Liste des employés</a></li>
      <li><a href="/collaborateurs/new">Ajouter un employé</a></li>
      <li><a href="/statistiques">Statistiques</a></li>
    </ul>
  </div>
  </nav>
</div>

<div class="container">

<br>